#debates .debate-item {
  margin-top: 20px;
  padding: 20px;
  min-height: 340px;
}
#debates .debate-item .description {
  margin: 20px -20px -20px -20px;
  padding: 10px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#debates .debate-item .description a,
#debates .debate-item .description a:hover {
  color: #fff;
}
#debates .debate-item .img-responsive {
  display: inline !important;
}
#debates .debate-item.protecao {
  background: url("../images/debates/bck-debates-dados-pessoais.jpg") repeat top left #034f2a;
}
#debates .debate-item.marco-civil {
  background: url("../images/debates/bck-debates-marco-civil.jpg") repeat top left #ffbe5c;
}
