@import "../theme-variables.less";
@import "../../bootstrap/variables.less";
#debates {
    .debate-item {
    	margin-top: 20px;
        padding: 20px;
        min-height: 340px;
        .description {
            margin: 20px -20px -20px -20px;
            padding: 10px 20px 20px 20px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            	a, a:hover{ color:#fff;}
        }
        .img-responsive {
            display: inline !important; // Hack para centralizar a imagem
        }
        // Div's especifpicas:
        &.protecao {
            background: url("../images/debates/bck-debates-dados-pessoais.jpg") repeat top left #034f2a;
        }
        &.marco-civil {
            background: url("../images/debates/bck-debates-marco-civil.jpg") repeat top left #ffbe5c;
        }
    }
}
